:root {
  --len-scale-n80: calc(320px * pow(2, calc(-80 / 8)));
  --len-scale-n79: calc(320px * pow(2, calc(-79 / 8)));
  --len-scale-n78: calc(320px * pow(2, calc(-78 / 8)));
  --len-scale-n77: calc(320px * pow(2, calc(-77 / 8)));
  --len-scale-n76: calc(320px * pow(2, calc(-76 / 8)));
  --len-scale-n75: calc(320px * pow(2, calc(-75 / 8)));
  --len-scale-n74: calc(320px * pow(2, calc(-74 / 8)));
  --len-scale-n73: calc(320px * pow(2, calc(-73 / 8)));
  --len-scale-n72: calc(320px * pow(2, calc(-72 / 8)));
  --len-scale-n71: calc(320px * pow(2, calc(-71 / 8)));
  --len-scale-n70: calc(320px * pow(2, calc(-70 / 8)));
  --len-scale-n69: calc(320px * pow(2, calc(-69 / 8)));
  --len-scale-n68: calc(320px * pow(2, calc(-68 / 8)));
  --len-scale-n67: calc(320px * pow(2, calc(-67 / 8)));
  --len-scale-n66: calc(320px * pow(2, calc(-66 / 8)));
  --len-scale-n65: calc(320px * pow(2, calc(-65 / 8)));
  --len-scale-n64: calc(320px * pow(2, calc(-64 / 8)));
  --len-scale-n63: calc(320px * pow(2, calc(-63 / 8)));
  --len-scale-n62: calc(320px * pow(2, calc(-62 / 8)));
  --len-scale-n61: calc(320px * pow(2, calc(-61 / 8)));
  --len-scale-n60: calc(320px * pow(2, calc(-60 / 8)));
  --len-scale-n59: calc(320px * pow(2, calc(-59 / 8)));
  --len-scale-n58: calc(320px * pow(2, calc(-58 / 8)));
  --len-scale-n57: calc(320px * pow(2, calc(-57 / 8)));
  --len-scale-n56: calc(320px * pow(2, calc(-56 / 8)));
  --len-scale-n55: calc(320px * pow(2, calc(-55 / 8)));
  --len-scale-n54: calc(320px * pow(2, calc(-54 / 8)));
  --len-scale-n53: calc(320px * pow(2, calc(-53 / 8)));
  --len-scale-n52: calc(320px * pow(2, calc(-52 / 8)));
  --len-scale-n51: calc(320px * pow(2, calc(-51 / 8)));
  --len-scale-n50: calc(320px * pow(2, calc(-50 / 8)));
  --len-scale-n49: calc(320px * pow(2, calc(-49 / 8)));
  --len-scale-n48: calc(320px * pow(2, calc(-48 / 8)));
  --len-scale-n47: calc(320px * pow(2, calc(-47 / 8)));
  --len-scale-n46: calc(320px * pow(2, calc(-46 / 8)));
  --len-scale-n45: calc(320px * pow(2, calc(-45 / 8)));
  --len-scale-n44: calc(320px * pow(2, calc(-44 / 8)));
  --len-scale-n43: calc(320px * pow(2, calc(-43 / 8)));
  --len-scale-n42: calc(320px * pow(2, calc(-42 / 8)));
  --len-scale-n41: calc(320px * pow(2, calc(-41 / 8)));
  --len-scale-n40: calc(320px * pow(2, calc(-40 / 8)));
  --len-scale-n39: calc(320px * pow(2, calc(-39 / 8)));
  --len-scale-n38: calc(320px * pow(2, calc(-38 / 8)));
  --len-scale-n37: calc(320px * pow(2, calc(-37 / 8)));
  --len-scale-n36: calc(320px * pow(2, calc(-36 / 8)));
  --len-scale-n35: calc(320px * pow(2, calc(-35 / 8)));
  --len-scale-n34: calc(320px * pow(2, calc(-34 / 8)));
  --len-scale-n33: calc(320px * pow(2, calc(-33 / 8)));
  --len-scale-n32: calc(320px * pow(2, calc(-32 / 8)));
  --len-scale-n31: calc(320px * pow(2, calc(-31 / 8)));
  --len-scale-n30: calc(320px * pow(2, calc(-30 / 8)));
  --len-scale-n29: calc(320px * pow(2, calc(-29 / 8)));
  --len-scale-n28: calc(320px * pow(2, calc(-28 / 8)));
  --len-scale-n27: calc(320px * pow(2, calc(-27 / 8)));
  --len-scale-n26: calc(320px * pow(2, calc(-26 / 8)));
  --len-scale-n25: calc(320px * pow(2, calc(-25 / 8)));
  --len-scale-n24: calc(320px * pow(2, calc(-24 / 8)));
  --len-scale-n23: calc(320px * pow(2, calc(-23 / 8)));
  --len-scale-n22: calc(320px * pow(2, calc(-22 / 8)));
  --len-scale-n21: calc(320px * pow(2, calc(-21 / 8)));
  --len-scale-n20: calc(320px * pow(2, calc(-20 / 8)));
  --len-scale-n19: calc(320px * pow(2, calc(-19 / 8)));
  --len-scale-n18: calc(320px * pow(2, calc(-18 / 8)));
  --len-scale-n17: calc(320px * pow(2, calc(-17 / 8)));
  --len-scale-n16: calc(320px * pow(2, calc(-16 / 8)));
  --len-scale-n15: calc(320px * pow(2, calc(-15 / 8)));
  --len-scale-n14: calc(320px * pow(2, calc(-14 / 8)));
  --len-scale-n13: calc(320px * pow(2, calc(-13 / 8)));
  --len-scale-n12: calc(320px * pow(2, calc(-12 / 8)));
  --len-scale-n11: calc(320px * pow(2, calc(-11 / 8)));
  --len-scale-n10: calc(320px * pow(2, calc(-10 / 8)));
  --len-scale-n9: calc(320px * pow(2, calc(-9 / 8)));
  --len-scale-n8: calc(320px * pow(2, calc(-8 / 8)));
  --len-scale-n7: calc(320px * pow(2, calc(-7 / 8)));
  --len-scale-n6: calc(320px * pow(2, calc(-6 / 8)));
  --len-scale-n5: calc(320px * pow(2, calc(-5 / 8)));
  --len-scale-n4: calc(320px * pow(2, calc(-4 / 8)));
  --len-scale-n3: calc(320px * pow(2, calc(-3 / 8)));
  --len-scale-n2: calc(320px * pow(2, calc(-2 / 8)));
  --len-scale-n1: calc(320px * pow(2, calc(-1 / 8)));
  --len-scale-0: calc(320px * pow(2, calc(0 / 8)));
  --len-scale-p1: calc(320px * pow(2, calc(1 / 8)));
  --len-scale-p2: calc(320px * pow(2, calc(2 / 8)));
  --len-scale-p3: calc(320px * pow(2, calc(3 / 8)));
  --len-scale-p4: calc(320px * pow(2, calc(4 / 8)));
  --len-scale-p5: calc(320px * pow(2, calc(5 / 8)));
  --len-scale-p6: calc(320px * pow(2, calc(6 / 8)));
  --len-scale-p7: calc(320px * pow(2, calc(7 / 8)));
  --len-scale-p8: calc(320px * pow(2, calc(8 / 8)));
  --len-scale-p9: calc(320px * pow(2, calc(9 / 8)));
  --len-scale-p10: calc(320px * pow(2, calc(10 / 8)));
  --len-scale-p11: calc(320px * pow(2, calc(11 / 8)));
  --len-scale-p12: calc(320px * pow(2, calc(12 / 8)));
  --len-scale-p13: calc(320px * pow(2, calc(13 / 8)));
  --len-scale-p14: calc(320px * pow(2, calc(14 / 8)));
  --len-scale-p15: calc(320px * pow(2, calc(15 / 8)));
  --len-scale-p16: calc(320px * pow(2, calc(16 / 8)));
  --len-scale-p17: calc(320px * pow(2, calc(17 / 8)));
  --len-scale-p18: calc(320px * pow(2, calc(18 / 8)));
  --len-scale-p19: calc(320px * pow(2, calc(19 / 8)));
  --len-scale-p20: calc(320px * pow(2, calc(20 / 8)));
  --len-scale-p21: calc(320px * pow(2, calc(21 / 8)));
  --len-scale-p22: calc(320px * pow(2, calc(22 / 8)));
  --len-scale-p23: calc(320px * pow(2, calc(23 / 8)));
  --len-scale-p24: calc(320px * pow(2, calc(24 / 8)));
  --len-scale-p25: calc(320px * pow(2, calc(25 / 8)));
  --len-scale-p26: calc(320px * pow(2, calc(26 / 8)));
  --len-scale-p27: calc(320px * pow(2, calc(27 / 8)));
  --len-scale-p28: calc(320px * pow(2, calc(28 / 8)));
  --len-scale-p29: calc(320px * pow(2, calc(29 / 8)));
  --len-scale-p30: calc(320px * pow(2, calc(30 / 8)));
  --len-scale-p31: calc(320px * pow(2, calc(31 / 8)));
  --len-scale-p32: calc(320px * pow(2, calc(32 / 8)));
}
@theme {
}
